body{
    background: #ededed;
}
.mobile{
    padding: 0;
}
.dashed-line{
    border-bottom: 2px dashed blue;
    width: 100%;
    margin: 0;
}
.dash-contain{
    display: flex;
    align-items: center;
    padding: 0;
    height: 120px;
}
.circle{
    width: 120px;
    height: 120px;
    border-radius: 200px;
    background: blue;
}
.circle-center{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.circle-text{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.deliv-time{
    margin: 0;
}
.deliv-note{
    margin: 0;
}
@media only screen and (max-width:992px){
    .dash-contain{
        height: 220px;
    }
    .dashed-line{
        border-bottom: none;
        border-left: 2px dashed blue;
        height: 200px;
        width: 0%;
    }
    .mobile{
        display: flex;
        justify-content: center;
    }
}