*{
    padding: 0;
    margin: 0;
}
body{
    background: #ededed;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.order-img{
    height: 110px;
    width: 110px;
}
.see-detail-contain{
    text-align: right;
    font-size: .8em;
    color: orange;
}
.link-contain:hover{
    background: #ededed;
}
.link{
    text-decoration: none;
    color: black;
}
.link:hover{
    color: black;
}
.btn-custom{
    background: orange;
    color: white;
    transition: .3s;
}
.btn-custom:hover{
    color: white;
    transform: translateY(-5px);
    box-shadow: 0px 3px 5px rgba(255, 166, 0, 0.363);
}
.see-detail{
    color: orange;
}
.switch-link{
    color: orange;
}
.not-active{
    color: black;
}
.switch-link:hover{
    color: orange;
}
.link-contain-active{
    background-color: #ededed;
}
@media only screen and (max-width: 990px){
    .turn-off{
        display: none;
    }
}